body {
    height: 100vh;
    background-color: #34495e;
}

.video-local {
    height: 40%;
    width: 100%;
}

.btn-call {
    height: 15%;
    width: 15%;
    font-size: 35px;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}

.video-local::-webkit-media-controls-mute-button {
    display: none;
}

.video-local::-webkit-media-controls-volume-slider {
    display: none;
}